PORT=5000
MONGO_URI="your-connection-uri"
NODE_ENV="development"

BCRYPT_SALT_ROUND=989
JWT_ACCESS_SECRET="access-secret"
JWT_ACCESS_EXPIRES=12d
JWT_REFRESH_SECRET="refresh-secret"
JWT_REFRESH_EXPIRES=100d

ADMIN_EMAIL="user@gmail.com"
ADMIN_PASSWORD="123"

FRONTEND_URL=""
